<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration</title>
    </head>

    <body>
        <div>
            <h2>Registration</h2>
            <form action="/create" method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <table>
                    <tr>
                        <td> Name: </td>
                        <td><input type="text" name="name"></td>
                    </tr>                    
                        <td>Email: </td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td><input type="text" name="password"></td>
                    </tr>
                    <tr>
                        <td>Confirm Password: </td>
                        <td><input type="text" name="confirmation"></td>
                    </tr>
                    <tr>
                        <td> Date of Birth: </td>
                        <td><input type="date" name="date"></td>
                    </tr>
                </table>
                <input type="submit" name="register" value="Register" class="reg">
            </form>
        </div>
        <div>
            <h2>Login</h2>
            <form action="/process" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Email: </td>
                        <td><input type="email" name="email"></td>
                    </tr>
                    <tr>
                        <td>Password: </td>
                        <td><input type="text" name="password"></td>
                    </tr>
                </table>
                <input type="submit" name="login" value="Login" class="log">
            </form>
        </div>


    </body>

</html>